html,body{
    margin:0;
    padding: 0;
    font-family: 'Rubik','sans-serif';
	font: 100%/1 'PT Serif', serif;
	background: #fff;
	border-top: 0.5em solid #2D1D1A;	
}


.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

.nav-item
{
    background-color: antiquewhite;
    margin: 5px;
    border-radius: 8px;
}
.nav .active{
    background-color: rgba(112, 65, 4, 0.712);
    border-radius: 8px;
}
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);


:active, :focus {
	outline-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	color: #2D1D1A;
}

.site {
	max-width: 960px;
	margin: 0 auto;
	padding: 1000px 1000px 1000px 1000;
}

.header {
	padding: 2vh 0 2vh 0;
	border-bottom: 1px solid #ddd;
}

.tagline {
	color: #2D1D1A;
	font-size: 14px;
	padding-top: 3.5em;
}


.legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

.site-footer {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #2D1D1A;
	position: relative;
	color: #fff;
	left: 0;
	bottom: 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

.content > h1,
.content >div > h1 {
	font-size: 2em;
	text-align: center;
}

@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);
  

.btn-primary {
    background-color: #493431 !important;
	color: #FFFFFF !important;
	border-color: #FFFFFF !important;
}

.btn-outline-primary {
    background-color: #FFFFFF !important;
	color: #2D1D1A !important;
	border-color: #2D1D1A !important;
}
.btn-outline-rmv {
    background-color: #FFFFFF !important;
	color: #f70000b9 !important;
	border-color: #f70000b9 !important;
}

.invalid{
	color: red;
}